# Local Virtual Environment
venv/
.env
__pycache__/
*.pyc

# Pipeline Metadata & Database
.dlt/
*.duckdb
*.duckdb.wal

# Metabase specific
metabase.db.*

# Logs and OS files
*.log
.DS_Store
.idea/
.vscode/
plugins
